{% extends "baseLR.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alertMessa">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <h1 class="title">LOGIN</h1>
    <div class="content" id="content-login">
        <form action="/login" method="POST">
            <div class="divInput">
                <input type="text" name="email" placeholder="Email">
            </div>
            
            <div class="divInput">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn">
                Login
            </button>
        </form>
    </div>
{% endblock %}